<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-12" style="padding-top: 70px; overflow: scroll !important;">
      <div style="position:relative">
        <!-- <input type="text" placeholder="Search" class="position-search"> -->
        <%= form_tag favours_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "position-search",
          placeholder: "Find a favour"
        %>
        <%#= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>








<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mb-3">RECOMMENDED</h2>
      <% @favours.each do |favour| %>
      <%= link_to favour_path(favour), style: "color: black;" do  %>
      <div class="card-favour mb-4">
        <div style="display:flex; justify-content:space-between">
          <div class="card-user-details">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class= "avatar-rounded" alt="User profile picture">
            <p class="user-name"><%= favour.user.name %></p>
          </div>
          <div style="width:180px">
            <p class= "favour-description" style="color:grey";>Favour request:</p>
            <p class= "favour-description"><%=favour.description%></p>
          </div>
          <!-- <p class= "rating">4 stars</p> -->
        </div>
      </div>
      <%end %>
      <% end %>
    </div>
  </div>
</div>



