

  <div class="container-fluid" style="overflow-scroll">
  <div class="row">
    <div class="col-12 col-lg-12 col-sm-4 mt-4" style="margin-top: 60px !important;" >

      <h4 class="header-2 mb-3 pt-2 text-center"> Ask the community </h4>

      <div class="ml-1 mr-1">
        <%= simple_form_for([@favour], remote: true) do |f| %>

        <%# <div class="form-inputs text-center">
          <%= f.input :title, label: 'What is the title of your favour?', placeholder: 'Eg : Plumbing in kitchen, Electrical light fittings' %>
        <%# </div>  %>

        <div class="form-inputs text-center">
          <%= f.association :favour_type, collection: FavourType.all.map { |ft| [ft.content, ft.id] }, label: 'Which type of favour would you need?'  %><br>
        </div>

        <div class="form-inputs text-center">
          <%= f.input :duration, label: 'How much time you need?', placeholder: 'Estimated number of hours/days' %><br>
        </div>

        <div class="form-inputs text-center">
          <%= f.input :description, as: :text, input_html:{rows: 3}, label: "Write your favour's escription below" %><br>
        </div>

        <div class="form-inputs text-center">
          <%= f.input :zone, label: 'Please specify your complete address below', placeholder: 'street, zipcode, city, province, country' %><br>
        </div>

        <div class="favour-image d-flex justify-content-center">
          <div class="w-75 text-center">
          <%= f.input :photo, as: :file, label: 'Attach photo of favour'%>
          </div>
        </div>

        <br>
          <div class="row justify-content-center">
            <p><%= f.submit "Post favour", class: "btn-ghost-filled2" %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
