
<div class="container-fluid">
  <div class="row mt-5">
		<div class="col-12 col-lg-12 col-sm-4 mt-4">

			<h4 class="header-2 mb-3 pt-2 text-center" > ASK THE COMMUNITY </h4>

      <div class="">
			  <%= simple_form_for(@favour) do |f| %>

        <div class="form-inputs text-center">
          <%= f.input :title, label: 'What is the title of your favour?', placeholder: 'Eg : Plumbing in kitchen, Electrical light fittings' %>
        </div>


        <div class="form-inputs text-center">
          <%= f.input :duration, label: 'How much time would you need?', placeholder: 'Write the estimated number of hours' %>
        </div>


        <div class="form-inputs text-center">
            <%= f.input :description, as: :text, input_html:{rows: 4}, label: 'Describe your favour' %>
        </div>


        <div class="form-inputs text-center">
            <%= f.input :zone, label: 'Which zone do you need the favour in?' %>
        </div>

        <div class="favour-image d-flex justify-content-center">
          <div class="w-75 text-center">
          <%= f.input :photo, as: :file, label: 'Attach photo of favour'%>
          </div>
        </div>

        <br>
        <div class="button">
          <div class="row justify-content-center">

          <p><%= f.submit "Submit", class: "btn-ghost-filled" %></p>
          
          </div>
        </div>
        <% end %>
      </div>
		</div>
  </div>
</div>


<%# <%= simple_form_for @user do |f| %>
  <%# <%= f.input :username, label: 'Your username please', error: 'Username is mandatory, please specify one' %> 
  <%# <%= f.input :password, hint: 'No special characters.' %>
  <%# <%= f.input :email, placeholder: 'user@domain.com' %> 
  <%# <%= f.input :remember_me, inline_label: 'Yes, remember me' %> 
  <%# <%= f.button :submit %> 
<%# <% end %> 


<%# :label         # The <label> tag alone
:input         # The <input> tag alone
:label_input   # The <label> and the <input> tags
:hint          # The hint for the input %>
<%# :error         # The error for the input %> 

 <%# <%= f.input :title, placeholder: 'What is the title of your favour?',hint: 'Eg : Plumbing in kitchen, Electrical light fittings.' %>
       
