	<div style="overflow-scroll">
		<div class="col-12 col-sm-4">
			<div class="row">
			<% photo_path =  @favour.photo.attached? ? cl_image_path(@favour.photo.key)  : image_path('Bathroom_1.png') %>
				<div class="image-favour" style= "background-image: url(<%= photo_path %>)">

				</div>

				<div class="avatar-show-rounded">
						<%= image_tag('Profile pic5.jpg', class:"rounded-circle",height: '80px',width: '80px') %>
				</div>

				<div class="user-name">
				<h6><%= @favour.user.name %></h6>
				</div>

				<%# <div class="favour-needed">
				<%# <h6><%= @favour.user.name %>
				<%# </div> %>

				<div class="ratings">
					<p class="m-0 justify-content-center">4.5/5
				    <%= image_tag('star.png', height: '16px',width: '18px') %></p>
				</div>

				<div class="text-box ml-3 mt-3" style="margin-right: 20px;">
					<h4 class="mb-2">I need help with <%=@favour.favour_type.content%></h4>
						<%# <%= @favour.favour_type, collection: FavourType::TYPES %>

					<p class="mb-1"><strong>Duration: </strong>
						<%= @favour.duration %></p>

					<p class="mb-1"><strong>Location: </strong>
						<%= @favour.zone %></p>

					<p class="mb-1"><strong>Description: </strong>
            <%= @favour.description %></p>
				</div>

			  <div id="map"
           style="margin-left: 20px; margin-right: 20px; height: 145px; width: 100% !important; "
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div><br>

				<div class="ml-3 mb-5 mt-5" style= "padding-left: 25px; display: initial;">
					<% if user_signed_in? %>
					<%= link_to 'Apply', favour_applications_path(@favour), method: :post, class: "btn-ghost-filled2" %>
          <%# <%= link_to 'Confirm done', mark_as_done_application_path, class: "btn-ghost2" %>
          <% else %>
            <%= link_to 'Favours', favours_path, class: "btn-ghost-filled2" %>
					<% end %>

				</div>
			</div>

		</div>
	</div>
