

<div class="homepagecontainer">



	<div class="avatar-show-rounded">
		<%# <% if @user.photo.attached?%>
			<%# <%= cl_image_tag @user.photo.key%>
		<%# <% else %>
			<%# <%= image_tag('Bathroom_1.jpg') %>
		<%# <% end %>
	</div>

	<div class="col-12 col-lg-12 col-sm-4">

		<div class="">
			<% if @favour.photo.attached?%>
				<%= cl_image_tag @favour.photo.key%>
			<% else %>
				<%= image_tag('Bathroom_1.png', height: '300px',width: '400px') %>
			<% end %>
		</div><br>


    <div id="map"
         style="margin-left: 50px; width: 80%; height: 120px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

		<div class="text-box m-3 mt-5">
		<br>
			<h4> Classification </h4>
				<%# <%= @favour.favour_type favour_type, collection: FavourType::TYPES %>
			<p>
				<strong>Duration: </strong>
				<%= @favour.duration %>
			</p>

			<p>
				<strong>Location:</strong>
				<%= @favour.zone %>
			</p>

			<p>
        <strong>Description: </strong>
				<%= @favour.description %>
			</p>
		</div>
     </div>
</div>

<div id="apply" style="display: flex; justify-content: center; padding-bottom: 10px;">
<% if user_signed_in? %>
<%= link_to 'Apply', favour_applications_path(@favour), method: :post, class: "btn-ghost-filled2" %>
<% end %>
</div>



