
<div class="homepagecontainer">



	<div class="avatar-show-rounded">
		<%# <% if @user.photo.attached?%>
			<%# <%= cl_image_tag @user.photo.key%> 
		<%# <% else %> 
			<%# <%= image_tag('Bathroom_1.jpg') %>
		<%# <% end %> 
	</div>

	<div class="col-12 col-lg-12 col-sm-4">

		<div class="">
			<% if @favour.photo.attached?%>
				<%= cl_image_tag @favour.photo.key%>
			<% else %>
				<%= image_tag('Bathroom_1.png', height: '300px',width: '400px') %>
			<% end %>
		</div>


		<div class="text-box m-3 mt-5">
		<br>
			<h4> Plumbing </h4>
				<%# <%= @favour.favour_type favour_type, collection: FavourType::TYPES %> 
			<p>
				<strong>How much time is needed:</strong>
				<%= @favour.duration %>
			</p>

			<p>
				<strong>Location:</strong>
				<%= @favour.zone %>
			</p>

			<p>
				<%= @favour.description %>
			</p>
		</div>
	</div>
</div>



<br>
<% if user_signed_in? %>
<%= link_to 'Apply', favour_applications_path(@favour), method: :post, remote: true, class: "btn-ghost-filled2" %>
<% end %>

