<div class="footer-navbar">
  <div class="row">
    <div class="col-12 col-lg-12 col-sm-4 position-static">
      <div class="footer-links">

        <% if user_signed_in? %>
          <%= link_to root_path do %>
            <i class="fas fa-home"></i>
            <% end %>
            <%= link_to credits_path do %>
              <i class="fas fa-coins"></i>
              <% end %>
          <%= link_to my_applications_path do %>
            <i class="far fa-comments"></i>
            <% end %>
        <% else %>
          <%= link_to root_path do%>
            <i class="fas fa-home"></i>
           <% end %>
        <% end %>
        <a onclick= "togglePopUp()" ><i class="far fa-user"></i></a>

      <div class="user-pop-up" id="user-pop-up">
          <div class="pop-up-text">
            <% if user_signed_in? %>
          <ul>
              <p class="mb-1 p-1"><i class="fas fa-user-edit mt-2"></i> &nbsp &nbsp &nbsp <%= link_to  'My Profile', applications_path%></p>
              <p class="mb-1 p-1"><i class="fas fa-book-open"></i> &nbsp &nbsp &nbsp <%= link_to  'My Favours', applications_path%></p>
              <p class="mb-1 p-1"><i class="far fa-check-circle"></i> &nbsp &nbsp &nbsp  <%= link_to  'Pending Favours', applications_path%> </p>
              <p class="mb-1 p-1"><i class="fas fa-check-square"></i>  &nbsp &nbsp &nbsp <%= link_to 'Mark Favour as Done',  done_applications_path %></p>
              <p class="mb-1 p-1" style="text-align: center;"><%= link_to 'Sign-out',  destroy_user_session_path %></p>
          </ul>
          <% else %>
            <div style="text-align: center; margin-right: 20px; margin-top: 10px;">
              <h3>Welcome</h3>
              <p><%= link_to  "Sign-up to Create your Account", new_user_registration_path%></p>
              <p>OR</p>
              <p><%= link_to  "Log in to Your Account", new_user_session_path%></p>
            </div>
          </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

<script>
function togglePopUp () {
  document.getElementById("user-pop-up").classList.toggle("active")
}
</script>


