<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <h6><%= image_tag "upliftlogo.png" %> UpLift </h6>
    <% end %>
    <%# if user_signed_in? %>
      <!-- <div   data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
        <%#= user_avatar(current_user, class: "rounded-circle avatar-img", height: 40, width: 40) %>
      <!-- </div> -->
    <%# else %>
     <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="avatar dropdown-toggle"></span>
      </button> -->
    <%# end %>
    <ul class="navbar-nav", style="text-align: right;">
      <% if user_signed_in? %>
        <p>Hi <%= current_user.name.capitalize %></p>
      <% else %>
        <div class="nav-item">
          <li class ="user_access"><%= link_to "Sign-up", new_user_registration_path %> &nbsp &nbsp
          <%= link_to "Log in", new_user_session_path %></li>
        </div>
      <% end %>
    </ul>
  </div>
</div>
