<!DOCTYPE html>
<html>
<head>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag image_path('favicon-32x32.png')%>

  <title><%= meta_title %></title>
  <meta name="description" content="<%= meta_description %>">

  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= meta_title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= meta_image %>" />
  <meta property="og:description" content="<%= meta_description %>" />
  <meta property="og:site_name" content="<%= meta_title %>" />


  <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

</head>

<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>

    <!-- <div id='map' style='width: 400px; height: 300px;'></div>
     <script>
      mapboxgl.accessToken = `#{MAPBOX_API_KEY}`;
      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11'
      });
    </script> -->

    <%= yield %>

    <%= render 'shared/footer_navbar'%>
  </body>
  </html>


