<!DOCTYPE html>
<html>
  <head>

    <title>Uplift</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    div id='map' style='width: 400px; height: 300px;'></div>
     <script>
      mapboxgl.accessToken = `#{MAPBOX_API_KEY}`;
      var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11'
      });
    </script>

    <%= yield %>

    <%= render 'shared/footer_navbar'%>
  </body>
</html>


